<article class="frosted-banner">
  <div class="navmenu-background"></div>
  <nav class="navmenu-toolbar">
    <a class="hyperlink-1">
      <button>{{navigator.home}}</button>
    </a>
    <a class="hyperlink-2">
      <button>{{navigator.about}}</button>
    </a>
    <a class="hyperlink-3">
      <button>{{navigator.contact}}</button>
    </a>
    <a class="hyperlink-4">
      <button>{{navigator.info}}</button>
    </a>

    <div class="misc-line-1"></div>
    <div class="misc-line-2"></div>
    <div class="misc-line-3"></div>
    <div class="misc-line-4"></div>
  </nav>
</article>