<article class="flair-container">
  <section class="flair-layer">
    <div class="rect-cont-3">
      <img
        class="flair-cont-avatar"
        [src]="profile.url"
        [alt]="profile.alt"
        height="256"
        width="256"
      />
    </div>
    <div class="rect-cont-2">
      <img
        class="flair-cont-emblem"
        [src]="profile.url"
        [alt]="profile.alt"
        height="256"
        width="256"
      />
    </div>

    <div class="misc-line-5"></div>
    <div class="misc-line-6"></div>
    <div class="misc-line-7"></div>
  </section>

  <section class="flair-cont-sect">
    <h1 class="flair-sect-title"></h1>
    <i class="flair-sect-name"></i>
  </section>
</article>
