.flair-container {
  max-width: 33.33%;
  max-height: fit-content;

  padding: 0rem 1rem;
  margin: auto;

  position: relative;
  border-radius: 0.1rem;

  backdrop-filter: blur(2rem);
  cursor: pointer;

  right: 17.5rem;
}

.flair-cont-sect {
  justify-content: center;
  display: flex;
  place-items: center;
  position: relative;
  overflow: hidden;
  padding: 0rem 1rem;
  margin: 1rem;

  top: -1.728rem;
  right: 1.512rem;
}

.flair-sect-title,
.flair-sect-name {
  color: #ecf1f2;
  justify-content: center;
  display: inline;
  place-items: center;
  position: relative;
  object-fit: cover;
  max-width: 15rem;
  padding: 1rem;
  margin: 1rem;

  left: 0.75rem;
  top: -1.5rem;
}

.flair-cont-avatar {
  justify-content: center;
  display: inline;

  place-items: center;
  position: relative;
  object-fit: cover;

  max-width: 15rem;
  max-height: 15rem;

  padding: 1rem;
  margin: 1rem;

  right: 0.5rem;
  top: -0.5rem;
}

.flair-cont-emblem {
  justify-content: center;
  display: inline;

  place-items: center;
  position: relative;
  object-fit: cover;

  max-width: 15rem;
  max-height: 15rem;

  padding: 1rem;
  margin: 1rem;

  right: 0.5rem;
  top: -0.5rem;
}

.flair-sect-title {
  font-family: Lato, sans-serif;
  font-size: larger;
  max-width: 15%;
  max-height: 15%;
  display: inline-flex;
  text-align: start;
  padding: 2rem;
  margin: 1rem;
}

.flair-sect-name {
  font-family: Lato, sans-serif;
  font-size: larger;
  max-width: 15%;
  max-height: 15%;
  display: inline-flex;
  text-align: start;
  padding: 2rem;
  margin: 1rem;
}

.flair-sect-desc {
  font-family: Lora, sans-serif;
  max-width: 15%;
  max-height: 15%;
  display: inline-flex;
  position: relative;
  text-align: start;
  text-align-last: right;
  padding: 0.1rem;
  margin: 1rem;
}

.flair-layer {
  width: 256px;
  height: 256px;
}

.rect-cont-2 {
  width: 256px;
  height: 256px;
  left: 0px;
  top: 0px;
  position: absolute;
  border: 0.5px #ecf1f2 solid;
}

.rect-cont-3 {
  width: 256px;
  height: 256px;
  left: 382px;
  top: 0px;
  position: absolute;
  border: 0.5px #ecf1f2 solid;
}

.misc-line-5 {
  width: 1380px;
  height: 0px;
  left: -371px;
  top: 338px;
  position: absolute;
  border: 0.5px #ecf1f2 solid;
}

.misc-line-6 {
  width: 256px;
  height: 0px;
  left: 191px;
  top: 293px;
  position: absolute;
  border: 0.5px #ecf1f2 solid;
}

.misc-line-7 {
  width: 335px;
  height: 0px;
  left: 319px;
  top: -26px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 0 0;
  border: 0.5px #ecf1f2 solid;
}

@keyframes float {
  0% {
    transform: translate(0);
    transform: translateY(0);
  }

  50% {
    transform: translate(1rem);
    transform: translateY(0.2rem);
  }

  100% {
    transform: translate(0);
    transform: translateY(0);
  }
}
