<article class="login-console">
  <section class="login-console-segment">
    <form class="login-console-form">
      <input
        type="email"
        name="email"
        placeholder="Email"
        value="username"
        class="login-email-field"
      />

      <input
        type="password"
        name="password"
        placeholder="Password"
        value="password"
        class="login-password-field"
      />

      <div class="login-console-reset">
        <button>
          <i>Forgot password</i>
        </button>
      </div>

      <div class="login-console-reset">
        <button type="reset">
          <i>Remember me</i>
        </button>
      </div>
    </form>

    <div class="login-console-submit">
      <a>
        Sign In
      </a>
    </div>
  </section>
</article>